
.memo-container{
    width: 100%;
    height: 100vh;
}

.folder-bar {
    background-color: #F2F2F2;
    border-right: solid 1px #d8d8d8;
    position: relative;

    & .folder-bar-header {
        margin-top: 0.7rem;
    }

    & .modal-btn {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
    }

    & .folder-title {
        color: #495057;
        margin-top: 10%;
    }

    & .list-group {

        & a {
            position: relative;
        }

        & .list-group-item {

            &:hover .delete-position {
                display: block;
            }

            &:hover .edit-position {
                display: block;
            }
        }

        & .fa-folder {
            margin-right: 5px;
        }

        & .delete-position {
            position: absolute;
            top: 3px;
            right: 65px;
            display: none;

            &:hover {
                color: #59b1eb;
            }
        }

        & .edit-position {
            position: absolute;
            top: 3px;
            right: 5px;
            display: none;

            &:hover {
                color: #59b1eb;
            }
        }

    }

}

.file-bar {
    background-color: white;
    border-right: solid 1px #d8d8d8;
}

.main-content {
    background-color: white;
    
}